# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
venv/
requirements.txt

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key

# Docker
docker-compose.override.yml
.dockerignore
Dockerfile
README.Docker.md